*{padding: 0; margin: 0}

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'azonix';
    src: url(Font/azonix/Azonix.otf);
}
@font-face {
    font-family: 'maghony';
    src: url(Font/maghony/Maghony.ttf);
}
@font-face {
    font-family: 'louisgeorge'; 
    src: url(Font/louis_george_caf/Louis\ George\ Cafe.ttf);
}
@font-face {
    font-family: 'kiona';
    src: url(Font/kiona_2/Kiona-Regular.ttf);
}
@font-face {
    font-family: 'romelio';
    src: url(Font/romelio_sans/Romelio.otf);
}
@font-face {
    font-family: 'cocogoose';
    src: url(Font/cocogoose/Cocogoose\ Pro-trial.ttf);
}
@font-face {
    font-family: 'caviardreams';
    src: url(Font/caviar_dreams/CaviarDreams.ttf);
}
@font-face {
    font-family: 'coolvetica';
    src: url(Font/coolvetica/coolvetica\ rg.ttf);
}

body{
    background: white;
    width: auto;
}

.header-area{
    width: 1100px;
}

.header-area .container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;    
}

.header-area .logo{
    color: #E45B1C;
    text-align: justify;
    text-decoration: none;
    float: left;
    margin-top: 15px;
    margin-right: 200px;
    font-family: 'caviardreams';
    font-size: 40px;
}

menu{
    text-align: justify;
    float: right;
    margin-top: 25px;
}

menu ul{
    list-style: none;
}

menu li{
    display: inline;
}

menu li a{
    text-decoration: none;
    color: #E9E2CF;
    margin: 0px 10px;
    font-family: 'louisgeorge';
    font-size: 20px;
    display: inline-block;
}

menu li a:hover{
    color: #E45B1C;
}

menu .button a{
    background-color: #E45B1C;
    padding: 10px;
    text-decoration: none;
    color: white;
}

menu .button a:hover{
    background-color: coral;
    color: #E45B1C;
    transition: 0.3s;
}


/* Video */
#video{
    position: relative;
}

#background-video {
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video-overlay{
    position: absolute;
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    bottom: 5px;
    width: 100%;
}

.videotext{
    text-align: center;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.videotext h1{
    font-family: 'azonix';
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 0.5px;
}

.videotext h2{
    font-family: 'azonix';
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    letter-spacing: 1px;
}

.videotext h2 em{
    font-style: normal;
    color: #E45B1C;
    font-weight: 900;
}

.videotext .button{
    margin-top: 40px;
}

.videotext .button a{
    font-family: 'azonix';
    background-color: #E45B1C;
    padding: 5px;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.videotext .button a:hover{
    background-color: coral;
    transition: ease-in 0.3s;
}

/* About */
#about{
    margin-bottom: 80px;
    margin-top: 70px;
    padding: 30px;
}

#about .container{
    max-width: 1100px;
    min-width: 1000px;
    min-height: 600px;
    margin: 30px auto;
    position: relative;
}

#about .abouttitle{
    margin: 0 auto;
    text-align: center;
    max-width: 50%;
    margin-bottom: 50px;
    margin-top: 50px;
}

#about .abouttitle h1{
    margin-bottom: 25px;
    font-size: 35px;
    font-family: 'maghony';
}

#about .abouttitle h1 em{
    color: #E45B1C;
    font-style: normal;
}

#about .aboutitem{
    width: 46%;
    float: left;
    margin: 5px 20px;
}

.item{
    display: inline-block;
    margin-bottom: 60px;
}

.item .left img{
    float: left;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 7px;
}

.item .right{
    display: inline;
}

.item .right h1{
    margin-top: 0px;
    margin-bottom:  7px;
    letter-spacing: 0.25px;
    color: #E45B1C;
    font-family: 'kiona';
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}

.item .right a.button{
    margin-top: 10px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: coral;
    font-family: 'louisgeorge';
    font-weight: 500;
    text-decoration: none;
}

/* Banner */
#banner{
    padding: 120px 20px;
    background-image: url(Photos/banner1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#banner .container{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}

#banner .container .text h1{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'maghony';
}

#banner .container .text h1 em{
    font-style: normal;
    color: #E45B1C;
}

#banner .container .text p{
    font-size: 16px;
    color: #fff;
    margin: 15px 0px 25px 0px;
}

#banner .container .text .button a{
    background-color: #E45B1C;
    padding: 10px;
    font-family: 'louisgeorge';
    text-decoration: none;
    color: white;
}

#banner .container .text .button a:hover{
    background-color: coral;
    transition: ease-in 0.3s;
}

/* Fillapp */
#fillapp{
    margin-top: 75px;
}

#fillapp .container{
    width: 550px;
    margin: 0 auto;
    text-align: center;
}

#fillapp h1{
    margin-bottom: 15px;
    font-size: 30px;
    font-family: 'maghony';
}

#fillapp h1 em{
    color: #E45B1C;
    font-style: normal;
}

#fillapp hr{
    height: 1px;
    background-color: #E45B1C;
    border: none;
    margin-bottom: 15px;
}

#fillapp form{
    margin: 0 auto;  
}

#fillapp input{
    width: 100px;
    margin-right: 17px;
    padding: 5px;
    border-color: rgba(0,0,0,0.1);
}

#fillapp select{
    width: 100px;
    font-size: 15px;
    margin: 50px 17px 30px 0;
    padding: 5px;
    border-color: rgba(0,0,0,0.1);
}

#fillapp button{
    margin: 0 auto;
    padding: 8px 30px;
    display: inline-block;
    font-size: 13px;
    background-color: #E45B1C;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
    font-family: 'louisgeorge';
}

#fillapp button:hover{
    background-color: coral;
}

/* Classes */
#classes{
    margin-bottom: 700px;
    margin-top: 0px;
    padding: 30px;
}

#classes .container{
    width: 1100px;
    margin: 50px auto;
    position: relative;
}

.classtitle{
    text-align: center;
    margin-bottom: 50px;
}

.classtitle h1{
    margin-bottom: 25px;
    font-size: 35px;
    font-family: 'maghony';
}

.classtitle h1 em{
    color: #E45B1C;
    font-style: normal;
}

.classtitle p{
    max-width: 600px;
    margin: auto;
}

.classtabs{
    width: 25%;
    float: left;
    margin-right: 120px;
}

.tabs-content{
    float: left;
    width: 61%;
}

#tabs ul li{
    margin-bottom: 30px;
    display: inline-block;
    width: 100%;
}

#tabs ul li a{
    text-transform: capitalize;
    width: 100%;
    padding: 30px 30px;
    display: inline-block;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    border-radius: 5px;
    font-family: 'louisgeorge';
    font-size: 19px;
    color: #232d39;
    letter-spacing: 0.5px;
    font-weight: 600;
    text-decoration: none;
}

#tabs .button a{
    text-align: center;
    padding: 20px 30px;
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    color: #fff;
    font-family: 'louisgeorge';
    font-size: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    background-color: #E45B1C;
    text-decoration: none;
}

#tabs .button a:hover{
    background-color: coral;
}

#tabs ul li a img{
    max-width: 100%;
    margin-right: 20px;
}

.tabs-content{
    margin-left: 30px;
    text-align: left;
    display: inline-block;
}

.tabs-content img{
    margin: 0 auto;
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.tabs-content h1{
    font-family: 'kiona';
    font-size: 23px;
    font-weight: 700;
    color: #E45B1C;
    margin-top: 25px;;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.tabs-content p{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 28px;
}

.tabs-content .button{
    background-color: #E45B1C;
    padding: 10px;
    width: fit-content;
}

.tabs-content .button:hover{
    background-color: coral;
}

.tabs-content .button a{
    font-family: 'louisgeorge';
    text-decoration: none;
    color: white;
}

/* Price */
#price{
    padding: 50px 20px;
    background-image: url(Photos/banner2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#price .container{
    max-width: 1100px;
    margin: 40px auto;
    position: relative;
}

#price .price-title{
    color: white;
    text-align: center;
}

#price .price-title h1{
    margin-bottom: 30px;
    font-family: 'maghony';
    font-size: 35px;
}


#price .price-title h1 em{
    font-style: normal;
    color: #E45B1C;
}

#price .price-type{
    margin-bottom: 50px;
    margin-top: 50px;
}

#price .price-type ul{
    padding: 0;
    text-align: center;
}

#price .price-type ul li{
    list-style: none;
    display: inline;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
    font-family: 'kiona';
    font-style: bold;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    text-transform: capitalize;
}

#price .price-type ul li a:hover{
    color: coral;
}

#price .price-type ul li a{
    text-decoration: none;
    font-style: normal;
}

#price .price-type ul li em{
    color: #E45B1C;
    text-decoration: none;
    font-style: normal;
}

#price .price-type ul a{
    color: white;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 500;
}

#price table {
    width: 70%;
    text-align: center;
    color: white;
    border: 1px solid white;
    margin: 50px auto;
}

#price table .tabletitle{
    font-size: 17px;
}

#price table tbody tr td{
    border: 1px solid white; 
    height: 30px;
    color: #fff;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 0.25px;
}

/* Artist */
#artist .container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

#artist .artist-title{
    text-align: center;
    margin-top: 80px;
}

#artist .artist-title h1{
    font-size: 35px;
    font-family: 'maghony';
}

#artist .artist-title h1 em{
    font-style: normal;
    color: #E45B1C;
}

#artist .artist-title p{
    margin: 30px 0px 50px 0px;
}

#artist .artist-detail1,
#artist .artist-detail2,
#artist .artist-detail3{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 30px 30px 50px 30px;
    width: 270px;
    height: 500px;
    float: left;
    margin: 0 10px;
}

#artist .artist-detail h1{
    font-family: 'kiona';
    font-size: 31px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
}

#artist .artist-detail h1 em{
    font-style: normal;
    color: #E45B1C;
}

#artist .artist-detail h2{
    font-family: 'romelio';
    font-size: 22px;
    font-weight: 500;
    color: #E45B1C;
    display: inline-block;
    margin-bottom: 10px;
}

#artist .artist-detail img{
    max-width: 270px;
}

#artist .artist-detail video{
    max-width: 270px;
    position: relative;
}

#artist .artist-detail p{
    margin-bottom: 20px;
    margin-top: 20px;
}

#artist .artist-detail .artist-socmed{
    position: absolute;
    bottom: -620px;
}

#artist .artist-detail .artist-socmed img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Contact */
#contact{
    margin-top: 666px;
    margin-bottom: 616px;
    padding-top: 85px;
}

#contact .container{
    width: 100vw;
    display: block;
}

#contact .maps{
    padding: 0px;
    width: 50vw;
    float: left;
}

#contact .form-tab{
    padding: 80px;
    background-image: url(Photos/banner3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

#contact .form-tab form{
    margin: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
}

.form-tab input,
.form-tab textarea {
  color: coral;
  font-size: 13px;
  border: 1px solid #ddd;
  background-color: #fff;
  width: 100%;
  height: 40px;
  outline: none;
  line-height: 40px;
  padding: 0px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.form-tab textarea{
    height: 150px;
    resize: none;
}

.form-tab ::placeholder {
    color: #E45B1C;
}

.form-tab button{
    display: inline-block;
    font-size: 13px;
    padding: 11px 17px;
    background-color: #E45B1C;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    transition: all .3s;
    border: none;
    outline: none;
    margin-top: -8px;
}

.form-tab button:hover{
    background-color: coral;
}

/* Balon */
#balon{
    width: 100vw;
    margin-top: 630px;
    background-color: #F1F1F1;
    padding: 33px;
}

#balon .container{
    margin: 0 auto;
    width: 1000px;
    text-align: center;
}

#balon .container h1{
    display: inline;
    padding: 7px 13px;
    background-color: #E45B1C;;
    border-radius: 7px;
    margin: 0 17px;
    color: white;
    font-family: 'kiona';
    font-size: 20px;
}

#balon .container h1:hover{
    background-color: coral;
}

#balon .container a{
    text-decoration: none;
}

/* Profile */
#profile{
    padding: 40px;
    background-image: url(Photos/1092716.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    width: 100vw;
    margin-top: 30px;
}

#profile .container{
    width: 600px;
    position: relative;
    margin: 0 auto;
}

#profile img{
    width: 200px;
    height: auto;
    float: left;
    margin-right: 50px;
    border-radius: 17px;
}

#profile .text{
    display: inline;
    float: left;
    color: white;
    font-family: 'coolvetica';
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

#profile .text h1{
    margin-bottom: 20px;
}

#profile .text h2{
    font-size: smaller;
    margin-top: 10px;
}

#profile .profile-socmed{
    display: block;
    float: left;
    margin-top: 50px;
}

#profile .profile-socmed img{
    width: 27px;
    height: auto;
    margin-right: 30px;
}

/* Footer */
.footer-area {
    width: 100vw;
}
  
.footer-area h1 {
    color: #E45B1C;
    text-align: center;
    font-size: 17px;
}

/* Responsive */

@media (min-width:1020px)  {
    #contact .form-tab{
        width: 35.13vw;
        height: 75.8vh;
    }
}
@media (min-width:1159.09px)  {
    #contact .form-tab{
        width: 36.37vw;
        height: 69.4vh;
    }
}
@media (max-width:1159.09px){
    .header-area .logo{
        margin: 0 auto;
    }
    #menutest li{
        display: none;
    }
    #artist .artist-detail .artist-detail3{
        margin: 30px 177px 30px 10px;
    }
    #contact .form-tab{
        width: 34.52vw;
        height: 78.9vh;
    }
    .footer-area {
        margin-top: 1150px;
    }
}
@media (min-width:1275px)  {
    #contact .form-tab{
        width: 37.61vw;
        height: 63.1vh;
    }
}
@media (min-width:1416.67px)  {
    #contact .form-tab{
        width: 38.85vw;
        height: 56.9vh;
    }
}
@media (min-width:1593.75px)  {
    #contact .form-tab{
        width: 40.09vw;
        height: 50.5vh;
    }
}
@media (min-width:1700px)  {
    #contact .form-tab{
        width: 40.71vw;
        height: 47.3vh;
    }
}
@media (min-width:1912.5px)  {
    #contact .form-tab{
        width: 41.74vw;
        height: 42.1vh;
    }
}
@media (min-width:2550px)  {
    #contact .form-tab{
        width: 43.80vw;
        height: 31.6vh;
    }
    #contact .form-tab form{
        padding: 40px 40px 30px 30px;
    }
}
@media (min-width:3825px)  {
    #contact .form-tab{
        width: 45.87vw;
        height: 21.1vh;
    }
    #contact .form-tab form{
        height: 20vh;
    }
}
@media (min-width: 5100px)  {
    #contact .form-tab{
        width: 46.90vw;
        height: 15.8vh;
    }
    #contact .form-tab form{
        height: 15.8vh;
    }
}